@using Microsoft.AspNetCore.Identity
@using UniPortal.Areas.Identity.Data

@inject SignInManager<UniPortalUser> SignInManager
@inject UserManager<UniPortalUser> UserManager

<div>
@if (SignInManager.IsSignedIn(User))
{
    <button>
       <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    
   </button>

    <button>
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
     
    </button>
}
else
{   
    <div class="d-flex align-items-center gap-3">

            <a class="text-decoration-none" id="register" asp-area="Identity" asp-page="/Account/Register">

                <button type="button" class="btn btn-outline-primary">
                    Register
                </button>

            </a>



            <a a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">

                <button type="button" class="btn btn-outline-warning">
                    Login
                </button>

            </a>

    </div>


}
</div>
